
[data-theme='dark'] {
  --sh-background-900-default: rgba(30, 30, 30, 1.00);
--sh-background-900-hover: rgba(56, 56, 56, 1.00);
--sh-text-900-default: rgba(255, 255, 255, 1.00);
--sh-text-900-hover: rgba(255, 255, 255, 0.70);
}