
:root {
  --sh-background-900-default: rgba(255, 255, 255, 1.00);
--sh-background-900-hover: rgba(245, 245, 245, 1.00);
--sh-text-900-default: rgba(30, 30, 30, 1.00);
--sh-text-900-hover: rgba(117, 117, 117, 1.00);
}