
[data-theme='light'] {
  --sh-additional-brown100: #f6f0eb;
--sh-additional-brown500: #aa7038;
--sh-additional-cian100: #effafd;
--sh-additional-cian300: #def7ff;
--sh-additional-cian500: #65c2f0;
--sh-additional-green100: #f2fbf8;
--sh-additional-green300: #e8fef0;
--sh-additional-green500: #64c87a;
--sh-additional-green510: #67e984;
--sh-additional-green520: #5aba6f;
--sh-additional-pink100: #fef8fb;
--sh-additional-pink300: #f9d9ee;
--sh-additional-pink500: #e93494;
--sh-additional-purple100: #f8f7fd;
--sh-additional-purple300: #e8e1fd;
--sh-additional-purple500: #6843da;
--sh-additional-red100: #fdf1f1;
--sh-additional-red500: #ec7975;
--sh-additional-yellow100: #fdf6e1;
--sh-additional-yellow500: #f4b940;
--sh-alert-error100: #ff5858;
--sh-alert-error200: #fff4f4;
--sh-alert-info100: #0084ff;
--sh-alert-info200: #f4faff;
--sh-alert-success100: #25c247;
--sh-alert-success200: #f4fff7;
--sh-alert-warning100: #ffb876;
--sh-alert-warning200: #fff9f4;
--sh-background-bg100: #ffffff;
--sh-background-bg200: #fafbfc;
--sh-background-bg300: #f7f7f7;
--sh-background-bg400: #f0f0f0;
--sh-background-bg600: #f2f1f0;
--sh-background-bg800: #bac0d9;
--sh-background-bg900: #545769;
--sh-outline-outline100: #ffffff;
--sh-outline-outline300: #eef0f5;
--sh-outline-outline400: #e4e4e9;
--sh-outline-outline500: #cfcdd3;
--sh-outline-outline900: rgba(0, 0, 0, 0.80);
--sh-primary-primary100-contrast: #ffffff;
--sh-primary-primary100: #7869e6;
--sh-primary-primary200: rgba(120, 105, 230, 0.08);
--sh-secondary-scn100-contrast: #ffffff;
--sh-secondary-scn100: #babec6;
--sh-secondary-scn200: rgba(19, 22, 35, 0.06);
--sh-states-disabled-bg-disabled100: #e4e5eb;
--sh-states-disabled-bg-disabled200: rgba(228, 229, 235, 0.35);
--sh-states-disabled-content-disabled100: #bbbec9;
--sh-states-disabled-content-disabled200: #d9dbe3;
--sh-states-focus-focus100: #c5bdff;
--sh-states-focus-focus500: #9bffb1;
--sh-states-focus-focus600: #ffa9a6;
--sh-states-hover-hover100: #8475f2;
--sh-states-hover-hover200: rgba(120, 105, 230, 0.06);
--sh-states-hover-hover300: #686a7c;
--sh-states-hover-hover400: rgba(19, 22, 35, 0.04);
--sh-states-hover-hover500: #68e984;
--sh-states-hover-hover600: #ff9491;
--sh-states-pressed-pressed100: #5845dd;
--sh-states-pressed-pressed200: rgba(96, 74, 255, 0.12);
--sh-states-pressed-pressed300: #474a5c;
--sh-states-pressed-pressed400: rgba(19, 22, 35, 0.12);
--sh-states-pressed-pressed500: #5aba6f;
--sh-states-pressed-pressed600: #db726e;
--sh-states-selected-selected300: #26293b;
--sh-states-selected-selected400: rgba(19, 22, 35, 0.20);
--sh-text-txt100: #ffffff;
--sh-text-txt500: rgba(0, 0, 0, 0.32);
--sh-text-txt700: rgba(0, 0, 0, 0.56);
--sh-text-txt800: rgba(0, 0, 0, 0.68);
--sh-text-txt900: rgba(0, 0, 0, 0.80);
}